<div>
  <h2>Orders</h2>

  <table>
    <thead>
      
      <tr>
        <th>Date of order</th>
        <th>order_items_id</th>
        <th>customer id</th>
        <th>amount</th>
      </tr>
        
    
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index|%>
      <tr>
        <td><%=order.date_of_purchase%></td>
        <td><%=order.order_items_id%></td>
        <td><%=order.customer_id%></td>
        <td><%+order.amount%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>